body {
    background-color: purple;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(47, 168, 58);
}

.heading2 {
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 50px;
}

table, td, th {
    padding: 20px;
    border: 1px solid black;
  }
  
  table {
    margin: 50px 300px;
    width: 710px;
    border-collapse: collapse;
  }

.exp_img {
    padding-left: 25px;
}

